.list-paragraph {
  font-family: "Roboto", sans-serif;
}
.list-heading {
  font-family: "Anton", sans-serif;
  background: lightblue;
  border-radius: 5px;
}
.list-head {
  font-family: "Acme", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 20px;
}
.info-text {
  font-family: "Acme", sans-serif;
}
.update-form {
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  #info {
    margin-top: 100px;
  }
  .form-update {
    margin-top: -20px;
  }
  .small-device-label {
    max-width: 40%;
    font-size: 3vw;
  }
  .small-device-input {
    max-width: 60%;
  }
}
